#convention {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;
}

/* CSS Export Loading Animation */
#loader {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 51px;
  height: 51px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #C4C4C4;
  border-color: #C4C4C4 transparent #C4C4C4 transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
